.developer-layout {
  header {
    min-width: 1024px;
    .navbar-fixed-top {
      position: static
    }

    min-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #45aeea;
    background-image: -moz-linear-gradient(top, #54b4eb, #2fa4e7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#54b4eb), to(#2fa4e7));
    background-image: -webkit-linear-gradient(top, #54b4eb, #2fa4e7);
    background-image: -o-linear-gradient(top, #54b4eb, #2fa4e7);
    background-image: linear-gradient(to bottom, #54b4eb, #2fa4e7);
    background-repeat: repeat-x;

    border: 1px solid #1990d5;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    *zoom: 1;

    .navbar-brand {
      float: left;
      display: block;
      font-size: 20px;
      font-weight: 200;
      color: #ffffff;
      text-shadow: 0 1px 0 #54b4eb
    }
    .header-controls {
      position: absolute;
      top: 14px;
      left: 141px;
      vertical-align: middle;
      display: 'table-cell';
      a {
        margin-left: 8px;
        text-decoration: none;
        color: #fff;
      }
      i {
        font-size: 14px;
      }
      a:hover {
        i[class^="icon-"] {
          opacity: 1.0;
        }
      }
    }
    .header-divider {
        position: absolute;
        top: 0px;
        height: 100%;
        left: 219px;
        border-right: 1px solid #30a6e6;
        border-left: 1px solid #53b3ed;
        vertical-align: middle;
    }

    .header-searchbox {
      position: absolute;
      top: 10px;
      left: 233px;
      width: 224px;
      .input-search {
          font-size: 12px
      }

      .input-search:focus {
          box-shadow: none !important;
          border: 1px solid #ddd !important
      }

      .clear-search {
          font-size: 14px;
          font-weight: bold;
          height: 32px;

          .icon-search {
              display: inline-block;
              font-size:14px;
          }
      }

    }

  }
}
