        <div class="sidebar-container">
          <div class="context-container">
            <div class="context-selector">
              <img src="https://avatars.githubusercontent.com/u/6060163?v=3">
              <span class="context-selector-name">
                Personal Library
              </span>
              <i class="fa fa-caret-down">
              </i>
              <span class="context-select-spinner" style="display: none;">
              </span>
              <div class="context-selector-dropdown" style="display: none;">
                <ul>
                  <li class="context-selector-personal-library context-selector-item-selected">
                    <img src="https://avatars.githubusercontent.com/u/6060163?v=3">
                    <span>
                      Personal Library
                    </span>
                    </img>
                  </li>
                  <li class="context-selector-start-new-group">
                    <i class="icon-plus-sign-alt">
                    </i>
                    <span>
                      Start New Group
                    </span>
                  </li>
                </ul>
              </div>
              </img>
            </div>
          </div>
          <ul class="sidebar">
            <li class="sidebar-new-gist tip-right">
              <i class="fa fa-file-o">
              </i>
              New Gist
            </li>
            <li class="sidebar-my-gists sidebar-selected" data-url="library/my-gists">
              <i class="fa fa-list">
              </i>
              My Gists
              <span class="sidebar-count">
                1
              </span>
            </li>
            <li class="sidebar-starred-gists" data-url="library/starred">
              <i class="fa fa-star">
              </i>
              Starred
              <span class="sidebar-count">
                0
              </span>
            </li>
            <li class="sidebar-spacer">
            </li>
            <li class="sidebar-labels-heading">
              <i class="fa fa-tags">
              </i>
              Labels
              <span class="new-label-container">
                <i class="fa fa-plus tip-top new-label" data-hasqtip="true" oldtitle="New Label">
                </i>
              </span>
            </li>
            <li class="sidebar-labels-container">
              <ul class="sidebar-labels ui-sortable">
                <li class="sidebar-label ui-droppable" data-label-id="1460472900525">
                  <span class="sidebar-label-grapple">
                  </span>
                  <i class="fa fa-caret-square-o-down">
                  </i>
                  <span class="sidebar-label-name">
                    Important
                  </span>
                  <span class="sidebar-count">
                    0
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="content-container">
          <div class="split-view">
            <div class="split-view-list">
              <div class="split-view-filter-bar-container">
                <div class="filter-bar">
                  <div class="btn-group" data-toggle="buttons-radio">
                    <button class="filter-all btn btn-secondary btn-sm active" type="button">
                    All
                    </button>
                    <button class="filter-public btn btn-secondary btn-sm " type="button">
                    Public
                    </button>
                    <button class="filter-private btn btn-secondary btn-sm " type="button">
                    Private
                    </button>
                  </div>
                  <div class="filter-bar-sorter">
                    <a class="filter-active filter-by-created" href="#">
                      <i class="icon-arrow-down">
                      </i>
                      Created
                    </a>
                    <a class="filter-by-updated" href="#">
                      Updated
                    </a>
                  </div>
                </div>
              </div>
              <div class="split-view-list-refresh-notice" style="display: none;">
                Gists updated. Click to refresh.
                <i class="icon-refresh">
                </i>
              </div>
              <div class="split-view-list-gists">
                <div class="split-gist ui-draggable gist-selected" data-id="f125ccab6608b410a74b87d480d0f753">
                  <div class="split-gist-grapple">
                  </div>
                  <div class="split-gist-header">
                    <img src="https://avatars.githubusercontent.com/u/6060163?v=3">
                    <div class="gist-meta">
                      <div class="gist-name">
                        0_reuse_code.js
                      </div>
                      <span class="gist-created-updated">
                        Created 2 days ago
                      </span>
                    </div>
                    <div class="gist-flags">
                    </div>
                    </img>
                  </div>
                  <div class="gist-description">
                    Here are some things you can do with Gists in GistBox.
                  </div>
                  <div class="gist-labels">
                    <i class="fa fa-tags">
                    </i>
                    <span class="gist-no-labels">
                      No Labels
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="split-view-content" style="height: 435px; width: 705px;">

            </div>
          </div>
        </div>
