<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br/>
      <br/>
      <h1 class="header center teal-text text-lighten-2">
      Hi
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">
        This is a web-snippet code application
        </h5>
      </div>
      <div class="row center">
        <%= link_to 'Start now for Free', auth_login_path, class:'btn-large waves-effect waves-light teal lighten-1' %>
      </div>
      <br/>
      <br/>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag('background1.jpg') %>
  </div>
</div>
<div class="container">
  <div class="section">
    <!-- Icon Section -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
          <i class="material-icons">
          flash_on
          </i>
          </h2>
          <h5 class="center">
          Speeds up development
          </h5>
          
          <p class="light">
            We did most of the heavy lifting for you to provide a code snippet that saving time spending for typing blocks of code repeatly, so you will have much time to understand new blocks of code and thinking about the algorithms and that increasing productivity for developers.
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
          <i class="material-icons">
          group
          </i>
          </h2>
          <h5 class="center">
          User Experience Focused
          </h5>
          
          <p class="light">
            By utilizing code snippets, we support to generate snippet conventions for project or company, they support to work in a group project easily: easy to review other developer code, easy to interact to other developers, easy to join new project, new company. Finally, it decreases making ridiculous typing mistakes. And all of that provide smoother experience for developers.
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
          <i class="material-icons">
          settings
          </i>
          </h2>
          <h5 class="center">
          Easy to work with
          </h5>
          <p class="light">
            We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Code-Pieces.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">
        
        </h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag('background2.jpg') %>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3>
        <i class="mdi-content-send brown-text">
        </i>
        </h3>
        <h4>
        Contact Us
        </h4>
        <p class="left-align light">
          Buu Le, Minh Dinh, Tu Hoang - students of CoderSchool.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">
        
        </h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag('background3.jpg') %>
  </div>
</div>
