.gist-file {
    font-weight: normal;
    border-bottom: 1px solid #ddd
}

.gist-file .gist-file-header {
    position: relative;
    padding: 12px 14px 11px 14px;
    overflow: auto
}

.gist-file .gist-file-header .gist-file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold
}

.gist-file .gist-file-header .gist-file-name .icon-chevron-right, .gist-file .gist-file-header .gist-file-name .icon-chevron-down {
    margin-right: 5px
}

.gist-file .gist-file-header .gist-file-name .icon-file-alt {
    margin-right: 3px
}

.gist-file .gist-file-header .gist-file-controls {
    position: absolute;
    top: 10px;
    right: 15px
}

.gist-file .gist-file-header .gist-file-controls .gist-file-language {
    margin-right: 5px
}

.gist-file .gist-file-header .gist-file-spinner {
    position: absolute;
    top: 20px;
    right: 24px
}

.gist-file .gist-file-code {
    margin: 0 15px 15px 15px
}

.gist-file .gist-file-code>pre {
    background: #f7f7f7
}

.gist-file .gist-file-code>pre>code {
    cursor: text
}

.gist-file .gist-file-code .markdown {
    cursor: text;
    background: white;
    margin-top: 5px;
    padding: 8px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.gist-file .gist-file-code .markdown div, .gist-file .gist-file-code .markdown dl, .gist-file .gist-file-code .markdown dt, .gist-file .gist-file-code .markdown dd, .gist-file .gist-file-code .markdown ul, .gist-file .gist-file-code .markdown ol, .gist-file .gist-file-code .markdown li, .gist-file .gist-file-code .markdown h1, .gist-file .gist-file-code .markdown h2, .gist-file .gist-file-code .markdown h3, .gist-file .gist-file-code .markdown h4, .gist-file .gist-file-code .markdown h5, .gist-file .gist-file-code .markdown h6, .gist-file .gist-file-code .markdown pre, .gist-file .gist-file-code .markdown code, .gist-file .gist-file-code .markdown form, .gist-file .gist-file-code .markdown fieldset, .gist-file .gist-file-code .markdown legend, .gist-file .gist-file-code .markdown input, .gist-file .gist-file-code .markdown textarea, .gist-file .gist-file-code .markdown p, .gist-file .gist-file-code .markdown blockquote, .gist-file .gist-file-code .markdown th, .gist-file .gist-file-code .markdown td {
    margin: 0;
    padding: 0
}

.gist-file .gist-file-code .markdown table {
    border-collapse: collapse;
    border-spacing: 0
}

.gist-file .gist-file-code .markdown fieldset, .gist-file .gist-file-code .markdown img {
    border: 0
}

.gist-file .gist-file-code .markdown address, .gist-file .gist-file-code .markdown caption, .gist-file .gist-file-code .markdown cite, .gist-file .gist-file-code .markdown code, .gist-file .gist-file-code .markdown dfn, .gist-file .gist-file-code .markdown em, .gist-file .gist-file-code .markdown strong, .gist-file .gist-file-code .markdown th, .gist-file .gist-file-code .markdown var {
    font-style: normal;
    font-weight: normal
}

.gist-file .gist-file-code .markdown ol, .gist-file .gist-file-code .markdown ul {
    list-style: none
}

.gist-file .gist-file-code .markdown caption, .gist-file .gist-file-code .markdown th {
    text-align: left
}

.gist-file .gist-file-code .markdown h1, .gist-file .gist-file-code .markdown h2, .gist-file .gist-file-code .markdown h3, .gist-file .gist-file-code .markdown h4, .gist-file .gist-file-code .markdown h5, .gist-file .gist-file-code .markdown h6 {
    font-size: 100%;
    font-weight: normal
}

.gist-file .gist-file-code .markdown q:before, .gist-file .gist-file-code .markdown q:after {
    content: ""
}

.gist-file .gist-file-code .markdown abbr, .gist-file .gist-file-code .markdown acronym {
    border: 0;
    font-variant: normal
}

.gist-file .gist-file-code .markdown sup {
    vertical-align: text-top
}

.gist-file .gist-file-code .markdown sub {
    vertical-align: text-bottom
}

.gist-file .gist-file-code .markdown input, .gist-file .gist-file-code .markdown textarea, .gist-file .gist-file-code .markdown select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

.gist-file .gist-file-code .markdown input, .gist-file .gist-file-code .markdown textarea, .gist-file .gist-file-code .markdown select {
    *font-size: 100%
}

.gist-file .gist-file-code .markdown legend {
    color: #000
}

.gist-file .gist-file-code .markdown #yui3-css-stamp.cssreset {
    display: none
}

.gist-file .gist-file-code .markdown h1, .gist-file .gist-file-code .markdown h2, .gist-file .gist-file-code .markdown h3, .gist-file .gist-file-code .markdown h4, .gist-file .gist-file-code .markdown h5, .gist-file .gist-file-code .markdown h6 {
    font-weight: bold;
    color: #000000
}

.gist-file .gist-file-code .markdown h1 {
    margin: 0 0 10px 0;
    color: #000000;
    font-size: 28px;
    line-height: 44px
}

.gist-file .gist-file-code .markdown h2 {
    margin: 0 0 10px 0;
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-size: 24px;
    line-height: 38px
}

.gist-file .gist-file-code .markdown h3 {
    font-size: 18px
}

.gist-file .gist-file-code .markdown h4 {
    font-size: 16px
}

.gist-file .gist-file-code .markdown h5 {
    font-size: 14px
}

.gist-file .gist-file-code .markdown h6 {
    color: #777777;
    background-color: inherit;
    font-size: 14px
}

.gist-file .gist-file-code .markdown hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC
}

.gist-file .gist-file-code .markdown p, .gist-file .gist-file-code .markdown blockquote, .gist-file .gist-file-code .markdown ul, .gist-file .gist-file-code .markdown ol, .gist-file .gist-file-code .markdown dl, .gist-file .gist-file-code .markdown li, .gist-file .gist-file-code .markdown table, .gist-file .gist-file-code .markdown pre {
    margin: 15px 0
}

.gist-file .gist-file-code .markdown blockquote {
    padding: 0 15px;
    border-left: 4px solid #ddd;
    color: #777;
    line-height: 20px
}

.gist-file .gist-file-code .markdown blockquote>:first-child {
    margin-top: 0
}

.gist-file .gist-file-code .markdown blockquote p {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px
}

.gist-file .gist-file-code .markdown em {
    font-style: italic
}

.gist-file .gist-file-code .markdown strong {
    font-weight: bold
}

.gist-file .gist-file-code .markdown code, .gist-file .gist-file-code .markdown pre {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit
}

.gist-file .gist-file-code .markdown code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px
}

.gist-file .gist-file-code .markdown pre {
    border: 1px solid #CCCCCC;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px
}

.gist-file .gist-file-code .markdown pre>code {
    border: 0;
    margin: 0;
    padding: 0
}

.gist-file .gist-file-code .markdown a, .gist-file .gist-file-code .markdown a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none
}

.gist-file .gist-file-code .markdown ul {
    margin: 15px 0;
    padding-left: 30px;
    line-height: 22px
}

.gist-file .gist-file-code .markdown ul li {
    margin: 0;
    line-height: 22px;
    list-style-type: disc
}

.gist-file .gist-file-code .markdown ol {
    margin: 15px 0;
    padding-left: 30px;
    line-height: 22px
}

.gist-file .gist-file-code .markdown ol li {
    margin: 0;
    line-height: 22px;
    list-style-type: decimal
}

.gist-file .gist-file-code .textile {
    cursor: text;
    background: white;
    margin-top: 5px;
    padding: 8px 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.gist-file .gist-file-code .textile div, .gist-file .gist-file-code .textile dl, .gist-file .gist-file-code .textile dt, .gist-file .gist-file-code .textile dd, .gist-file .gist-file-code .textile ul, .gist-file .gist-file-code .textile ol, .gist-file .gist-file-code .textile li, .gist-file .gist-file-code .textile h1, .gist-file .gist-file-code .textile h2, .gist-file .gist-file-code .textile h3, .gist-file .gist-file-code .textile h4, .gist-file .gist-file-code .textile h5, .gist-file .gist-file-code .textile h6, .gist-file .gist-file-code .textile pre, .gist-file .gist-file-code .textile code, .gist-file .gist-file-code .textile form, .gist-file .gist-file-code .textile fieldset, .gist-file .gist-file-code .textile legend, .gist-file .gist-file-code .textile input, .gist-file .gist-file-code .textile textarea, .gist-file .gist-file-code .textile p, .gist-file .gist-file-code .textile blockquote, .gist-file .gist-file-code .textile th, .gist-file .gist-file-code .textile td {
    margin: 0;
    padding: 0
}

.gist-file .gist-file-code .textile table {
    border-collapse: collapse;
    border-spacing: 0
}

.gist-file .gist-file-code .textile fieldset, .gist-file .gist-file-code .textile img {
    border: 0
}

.gist-file .gist-file-code .textile address, .gist-file .gist-file-code .textile caption, .gist-file .gist-file-code .textile cite, .gist-file .gist-file-code .textile code, .gist-file .gist-file-code .textile dfn, .gist-file .gist-file-code .textile em, .gist-file .gist-file-code .textile strong, .gist-file .gist-file-code .textile th, .gist-file .gist-file-code .textile var {
    font-style: normal;
    font-weight: normal
}

.gist-file .gist-file-code .textile ol, .gist-file .gist-file-code .textile ul {
    list-style: none
}

.gist-file .gist-file-code .textile caption, .gist-file .gist-file-code .textile th {
    text-align: left
}

.gist-file .gist-file-code .textile h1, .gist-file .gist-file-code .textile h2, .gist-file .gist-file-code .textile h3, .gist-file .gist-file-code .textile h4, .gist-file .gist-file-code .textile h5, .gist-file .gist-file-code .textile h6 {
    font-size: 100%;
    font-weight: normal
}

.gist-file .gist-file-code .textile q:before, .gist-file .gist-file-code .textile q:after {
    content: ""
}

.gist-file .gist-file-code .textile abbr, .gist-file .gist-file-code .textile acronym {
    border: 0;
    font-variant: normal
}

.gist-file .gist-file-code .textile sup {
    vertical-align: text-top
}

.gist-file .gist-file-code .textile sub {
    vertical-align: text-bottom
}

.gist-file .gist-file-code .textile input, .gist-file .gist-file-code .textile textarea, .gist-file .gist-file-code .textile select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

.gist-file .gist-file-code .textile input, .gist-file .gist-file-code .textile textarea, .gist-file .gist-file-code .textile select {
    *font-size: 100%
}

.gist-file .gist-file-code .textile legend {
    color: #000
}

.gist-file .gist-file-code .textile #yui3-css-stamp.cssreset {
    display: none
}

.gist-file .gist-file-code .textile h1, .gist-file .gist-file-code .textile h2, .gist-file .gist-file-code .textile h3, .gist-file .gist-file-code .textile h4, .gist-file .gist-file-code .textile h5, .gist-file .gist-file-code .textile h6 {
    font-weight: bold;
    color: #000000
}

.gist-file .gist-file-code .textile h1 {
    margin: 0 0 10px 0;
    color: #000000;
    font-size: 28px;
    line-height: 44px
}

.gist-file .gist-file-code .textile h2 {
    margin: 0 0 10px 0;
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-size: 24px;
    line-height: 38px
}

.gist-file .gist-file-code .textile h3 {
    font-size: 18px
}

.gist-file .gist-file-code .textile h4 {
    font-size: 16px
}

.gist-file .gist-file-code .textile h5 {
    font-size: 14px
}

.gist-file .gist-file-code .textile h6 {
    color: #777777;
    background-color: inherit;
    font-size: 14px
}

.gist-file .gist-file-code .textile hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC
}

.gist-file .gist-file-code .textile p, .gist-file .gist-file-code .textile blockquote, .gist-file .gist-file-code .textile ul, .gist-file .gist-file-code .textile ol, .gist-file .gist-file-code .textile dl, .gist-file .gist-file-code .textile li, .gist-file .gist-file-code .textile table, .gist-file .gist-file-code .textile pre {
    margin: 15px 0
}

.gist-file .gist-file-code .textile blockquote {
    padding: 0 15px;
    border-left: 4px solid #ddd;
    color: #777;
    line-height: 20px
}

.gist-file .gist-file-code .textile blockquote>:first-child {
    margin-top: 0
}

.gist-file .gist-file-code .textile blockquote p {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px
}

.gist-file .gist-file-code .textile em {
    font-style: italic
}

.gist-file .gist-file-code .textile strong {
    font-weight: bold
}

.gist-file .gist-file-code .textile code, .gist-file .gist-file-code .textile pre {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit
}

.gist-file .gist-file-code .textile code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px
}

.gist-file .gist-file-code .textile pre {
    border: 1px solid #CCCCCC;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px
}

.gist-file .gist-file-code .textile pre>code {
    border: 0;
    margin: 0;
    padding: 0
}

.gist-file .gist-file-code .textile a, .gist-file .gist-file-code .textile a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none
}

.gist-file .gist-file-code .textile ul {
    margin: 15px 0;
    padding-left: 30px;
    line-height: 22px
}

.gist-file .gist-file-code .textile ul li {
    margin: 0;
    line-height: 22px;
    list-style-type: disc
}

.gist-file .gist-file-code .textile ol {
    margin: 15px 0;
    padding-left: 30px;
    line-height: 22px
}

.gist-file .gist-file-code .textile ol li {
    margin: 0;
    line-height: 22px;
    list-style-type: decimal
}

.gist-file .gist-editor-container {
    margin: 0 15px 15px 15px
}
