.split-view {
  display: flex;
  flex: 1;
  position: relative;

  .split-view-list {
    display: flex;
    flex-direction: column;
    width: 354px;
    border-right: 1px solid #ddd;

    .split-view-list-refresh-notice {
      position: relative;
      padding: 10px 15px;
      background: #ffc;
      border-bottom: 1px solid #ddd;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background: #ffffba;
      }

      > i {
        position: absolute;
        top: 14px;
        right: 15px;
      }
    }

    .split-view-list-gists {
      flex: 1;
      overflow-y: auto;
    }
  }

  .split-view-content {
    flex: 1;
  }
}
