.split-view {
  display: flex;
  flex: 1;
  position: relative;

  .creator {
    position: relative;
    flex-shrink: 0;
    display: flex;
    padding: 10px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 3px #ddd;
    z-index: 1;

    .avatar-wrapper {
      position: relative;
      width: 70px;
      height: 70px;

      img {
        width: 100%;
      }
    }

    .info {
      margin-top: 10px;
      margin-left: 10px;

      .name {
        font-size: 16px;
        margin: 0;
      }

      .snippet-count {
        color: #999;
      }
    }
  }

  .split-view-list {
    display: flex;
    flex-direction: column;
    width: 354px;
    border-right: 1px solid #ddd;

    .split-view-list-refresh-notice {
      position: relative;
      padding: 10px 15px;
      background: #ffc;
      border-bottom: 1px solid #ddd;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background: #ffffba;
      }

      > i {
        position: absolute;
        top: 14px;
        right: 15px;
      }
    }

    .split-view-list-gists {
      flex: 1;
      overflow-y: auto;
    }
  }

  .split-view-content {
    flex: 1;
  }
}
