<div class="focus-view-gist">
  <div class="focus-view-header">
    <div class="focus-view-header-name" style="width: 619px;">
      0_reuse_code.js
    </div>
    <div class="focus-view-header-meta" style="width: 619px;">
      Created by
      <a href="https://gist.github.com/f125ccab6608b410a74b87d480d0f753" target="_blank">
        hatu87
      </a>
      on 4/12/2016
      –
      Last updated 4/12/2016
    </div>
    <div class="focus-view-header-controls">
      <div class="focus-view-header-controls-left">
        <div class="btn-group">
          <button class="btn btn-secondary btn-sm tip-top edit-gist">
          <i class="fa fa-pencil">
          </i>
          Edit
          </button>
          <button class="btn btn-secondary btn-sm tip-top delete-gist" data-hasqtip="true" oldtitle="Delete Gist">
          <i class="fa fa-trash">
          </i>
          Delete
          </button>
        </div>
      </div>
      <div class="focus-view-header-controls-right">
        <div class="btn-group">
          <button class="btn btn-secondary btn-sm tip-top email-gist">
          <i class="fa fa-envelope">
          </i>
          </button>
          <button class="btn btn-secondary btn-sm tip-top tweet-gist">
          <i class="fa fa-twitter">
          </i>
          </button>
          <button class="btn btn-secondary btn-sm tip-top share-gist" data-hasqtip="true" oldtitle="Export / Embed Gist">
          <i class="fa fa-share-square-o">
          </i>
          </button>
        </div>
        <button class="btn btn-secondary btn-sm tip-top star-gist">
        <i class="fa fa-star-o">
        </i>
        Star
        </button>
      </div>
    </div>
    <div class="focus-view-header-labels">
      <span class="gist-edit-labels" data-hasqtip="true">
        <i class="fa fa-tags">
        </i>
        Labels
        <i class="fa fa-caret-down">
        </i>
      </span>
      <span class="gist-labels-container">
      </span>
    </div>
    <div class="focus-view-header-right">
      <span class="focus-view-num-files">
        <i class="fa fa-file-o">
        </i>
        4 Files
      </span>
    </div>
  </div>
  <div class="focus-view-content" style="height: 298px;">
    <div class="focus-view-description">
      Here are some things you can do with Gists in GistBox.
    </div>
    <div class="focus-view-files-container">
      <div>
        <div class="gist-file">
          <div class="gist-file-header">
            <div class="gist-file-name" style="width: 461px;">
              <i class="gist-toggle-icon icon-chevron-down">
              </i>
              <i class="fa fa-file-o">
              </i>
              0_reuse_code.js
            </div>
            <div class="gist-file-controls" style="display: block;">
              <span class="gist-file-language">
                JavaScript
              </span>
              <div class="btn-group">
                <button class="btn btn-secondary btn-sm copy-gist" data-clipboard-text='// Use Gists to store code you would like to remember later on
                console.log(window); // log the "window" object to the console
                '>
                <i class="fa fa-copy">
                </i>
                Copy
                </button>
                <a class="btn btn-secondary btn-sm" href="https://gist.githubusercontent.com/hatu87/f125ccab6608b410a74b87d480d0f753/raw/2b8a5ccf55d94d29328a24ef3913ffb54841429c/0_reuse_code.js" target="_blank">
                  <i class="fa fa-external-link">
                  </i>
                  Raw
                </a>
              </div>
            </div>
            <div class="gist-file-spinner">
            </div>
          </div>
          <div class="gist-file-code" style="display: block;">
                                    <pre>
                                                                      <code class="language-javascript">
                                                                        // Use Gists to store code you would like to remember later on
                                                                        console.log(window);
                                                                        // log the "window" object to the console
                                                                      </code>
            </pre>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-secondary btn-sm add-another-file">
    <i class="fa fa-plus">
    </i>
    Add Another File
    </button>
    <div class="focus-view-files-spinner">
    </div>
  </div>
</div>
