<div class="creator">
  <div class="avatar-wrapper">
    <%= image_tag creator.avatar_url %>
  </div>
  <div class="info">
    <h3 class="name"><%= creator.name %></h3>
    <div class="snippet-count"><%= creator.snippets.count %> snippets</div>
  </div>
</div>
