<div class="split-gist ui-draggable" data-id="f125ccab6608b410a74b87d480d0f753">
  <div class="split-gist-grapple">
  </div>
  <div class="split-gist-header">
    <img src="https://avatars.githubusercontent.com/u/6060163?v=3">
    <div class="gist-meta">
      <div class="gist-name">
        <%= snippet.name %>
      </div>
      <span class="gist-created-updated">
        date
      </span>
    </div>
    <div class="gist-flags">
    </div>
    </img>
  </div>
  <div class="gist-description">
    desciption
  </div>
  <div class="gist-labels">
    <i class="fa fa-tags">
    </i>
    <span class="gist-no-labels">
      No Labels
    </span>
  </div>
</div>
