<!DOCTYPE html>
<html>
  <head>
    <title>
    CodePiecesBackend
    </title>
    <%= stylesheet_link_tag    'developer', media: 'all', 'data-turbolinks-track': true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= react_component('DeveloperApp', apiKey: current_user.api_key ) %>
  </body>
</html>
