<!DOCTYPE html>
<html>
  <head>
    <title>
    CodePiecesBackend
    </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="developer-layout">
      <header class="navbar navbar-fixed-top navbar-light bg-faded header-view-container">
        <a class="navbar-brand" href="#">
          GistBox
        </a>
        <div class="header-controls">
          <a href="#">
            <i class="material-icons">
            settings
            </i>
          </a>
          <a href="#">
            <i class="material-icons">
            help
            </i>
          </a>
          <a href="#">
            <i class="material-icons fa-rotate-90">
            autorenew
            </i>
          </a>
        </div>
        <div class="header-divider">
        </div>
        <!-- <div class="input-group header-searchbox">
          <input type="text" class="form-control input-search" placeholder="Search by keyword or #label">
          <span class="input-group-btn">
            <button class="btn btn-secondary clear-search" type="button">
            <i class="material-icons icon-search">search</i>
            </button>
          </span>
        </div> -->
        <div class="input-group header-searchbox">
          <input class="form-control" placeholder="Search for..." type="text">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">
            <i class="material-icons icon-search">
            search
            </i>
            </button>
          </span>
          </input>
        </div>
        <div class="nav navbar-nav pull-right">
          <a class="nav-link sign-out" href="#">
            Sign out
          </a>
        </div>
        <div class="header-nav">
          <div class="nav navbar-nav pull-right">
            <a class="nav-item nav-link " href="#">
              <i aria-hidden="true" class="fa fa-gratipay">
              </i>
              GitTip Us
              <span class="sr-only">
                (current)
              </span>
            </a>
            <a class="nav-item nav-link" href="#">
              <i aria-hidden="true" class="fa fa-scissors">
              </i>
              Clipper
            </a>
            <a class="nav-item nav-link header-gistbox-clipper">
            </a>
            <a class="nav-item nav-link" href="#">
              <i aria-hidden="true" class="fa fa-github">
              </i>
              hatu87
            </a>
          </div>
        </div>
      </header>
      <div class="main-view-container">
        <div class="sidebar-container">
          <div class="context-container">
            <div class="context-selector">
              <img src="https://avatars.githubusercontent.com/u/6060163?v=3">
              <span class="context-selector-name">
                Personal Library
              </span>
              <i class="fa fa-caret-down">
              </i>
              <span class="context-select-spinner" style="display: none;">
              </span>
              <div class="context-selector-dropdown" style="display: none;">
                <ul>
                  <li class="context-selector-personal-library context-selector-item-selected">
                    <img src="https://avatars.githubusercontent.com/u/6060163?v=3">
                    <span>
                      Personal Library
                    </span>
                    </img>
                  </li>
                  <li class="context-selector-start-new-group">
                    <i class="icon-plus-sign-alt">
                    </i>
                    <span>
                      Start New Group
                    </span>
                  </li>
                </ul>
              </div>
              </img>
            </div>
          </div>
          <ul class="sidebar">
            <li class="sidebar-new-gist tip-right">
              <i class="fa fa-file-o">
              </i>
              New Gist
            </li>
            <li class="sidebar-my-gists sidebar-selected" data-url="library/my-gists">
              <i class="fa fa-list">
              </i>
              My Gists
              <span class="sidebar-count">
                1
              </span>
            </li>
            <li class="sidebar-starred-gists" data-url="library/starred">
              <i class="fa fa-star">
              </i>
              Starred
              <span class="sidebar-count">
                0
              </span>
            </li>
            <li class="sidebar-spacer">
            </li>
            <li class="sidebar-labels-heading">
              <i class="fa fa-tags">
              </i>
              Labels
              <span class="new-label-container">
                <i class="fa fa-plus tip-top new-label" data-hasqtip="true" oldtitle="New Label">
                </i>
              </span>
            </li>
            <li class="sidebar-labels-container" style="height: 179px;">
              <ul class="sidebar-labels ui-sortable">
                <li class="sidebar-label ui-droppable" data-label-id="1460472900525">
                  <span class="sidebar-label-grapple">
                  </span>
                  <i class="fa fa-caret-square-o-down">
                  </i>
                  <span class="sidebar-label-name">
                    Important
                  </span>
                  <span class="sidebar-count">
                    0
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="content-container">
          <div class="split-view">
            <div class="split-view-list">
              <div class="split-view-filter-bar-container">
                <div class="filter-bar">
                  <div class="btn-group" data-toggle="buttons-radio">
                    <button class="filter-all btn btn-secondary btn-sm active" type="button">
                    All
                    </button>
                    <button class="filter-public btn btn-secondary btn-sm " type="button">
                    Public
                    </button>
                    <button class="filter-private btn btn-secondary btn-sm " type="button">
                    Private
                    </button>
                  </div>
                  <div class="filter-bar-sorter">
                    <a class="filter-active filter-by-created" href="#">
                      <i class="icon-arrow-down">
                      </i>
                      Created
                    </a>
                    <a class="filter-by-updated" href="#">
                      Updated
                    </a>
                  </div>
                </div>
              </div>
              <div class="split-view-list-refresh-notice" style="display: none;">
                Gists updated. Click to refresh.
                <i class="icon-refresh">
                </i>
              </div>
              <div class="split-view-list-gists" style="height: 381px;">
                <div class="split-gist ui-draggable gist-selected" data-id="f125ccab6608b410a74b87d480d0f753">
                  <div class="split-gist-grapple">
                  </div>
                  <div class="split-gist-header">
                    <img src="https://avatars.githubusercontent.com/u/6060163?v=3">
                    <div class="gist-meta">
                      <div class="gist-name">
                        0_reuse_code.js
                      </div>
                      <span class="gist-created-updated">
                        Created 2 days ago
                      </span>
                    </div>
                    <div class="gist-flags">
                    </div>
                    </img>
                  </div>
                  <div class="gist-description">
                    Here are some things you can do with Gists in GistBox.
                  </div>
                  <div class="gist-labels">
                    <i class="fa fa-tags">
                    </i>
                    <span class="gist-no-labels">
                      No Labels
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="split-view-content" style="height: 435px; width: 705px;">
              <div class="focus-view-gist">
                <div class="focus-view-header">
                  <div class="focus-view-header-name" style="width: 619px;">
                    0_reuse_code.js
                  </div>
                  <div class="focus-view-header-meta" style="width: 619px;">
                    Created by
                    <a href="https://gist.github.com/f125ccab6608b410a74b87d480d0f753" target="_blank">
                      hatu87
                    </a>
                    on 4/12/2016
                    –
                    Last updated 4/12/2016
                  </div>
                  <div class="focus-view-header-controls">
                    <div class="focus-view-header-controls-left">
                      <div class="btn-group">
                        <button class="btn btn-sm tip-top edit-gist">
                        <i class="fa fa-pencil">
                        </i>
                        Edit
                        </button>
                        <button class="btn btn-sm tip-top delete-gist" data-hasqtip="true" oldtitle="Delete Gist">
                        <i class="fa fa-trash">
                        </i>
                        Delete
                        </button>
                      </div>
                    </div>
                    <div class="focus-view-header-controls-right">
                      <div class="btn-group">
                        <button class="btn btn-sm tip-top email-gist">
                        <i class="fa fa-envelope">
                        </i>
                        </button>
                        <button class="btn btn-sm tip-top tweet-gist">
                        <i class="fa fa-twitter">
                        </i>
                        </button>
                        <button class="btn btn-sm tip-top share-gist" data-hasqtip="true" oldtitle="Export / Embed Gist">
                        <i class="fa fa-share">
                        </i>
                        </button>
                      </div>
                      <button class="btn btn-sm tip-top star-gist">
                      <i class="fa fa-star-empty">
                      </i>
                      Star
                      </button>
                    </div>
                  </div>
                  <div class="focus-view-header-labels">
                    <span class="gist-edit-labels" data-hasqtip="true">
                      <i class="fa fa-tags">
                      </i>
                      Labels
                      <i class="fa fa-caret-down">
                      </i>
                    </span>
                    <span class="gist-labels-container">
                    </span>
                  </div>
                  <div class="focus-view-header-right">
                    <span class="focus-view-num-files">
                      <i class="fa fa-file-alt">
                      </i>
                      4 Files
                    </span>
                  </div>
                </div>
                <div class="focus-view-content" style="height: 298px;">
                  <div class="focus-view-description">
                    Here are some things you can do with Gists in GistBox.
                  </div>
                  <div class="focus-view-files-container">
                    <div>
                      <div class="gist-file">
                        <div class="gist-file-header">
                          <div class="gist-file-name" style="width: 461px;">
                            <i class="gist-toggle-icon icon-chevron-down">
                            </i>
                            <i class="icon-file-alt">
                            </i>
                            0_reuse_code.js
                          </div>
                          <div class="gist-file-controls" style="display: block;">
                            <span class="gist-file-language">
                              JavaScript
                            </span>
                            <div class="btn-group">
                              <button class="btn btn-sm copy-gist" data-clipboard-text='// Use Gists to store code you would like to remember later on
                              console.log(window); // log the "window" object to the console
                              '>
                              <i class="icon-copy">
                              </i>
                              Copy
                              </button>
                              <a class="btn btn-sm" href="https://gist.githubusercontent.com/hatu87/f125ccab6608b410a74b87d480d0f753/raw/2b8a5ccf55d94d29328a24ef3913ffb54841429c/0_reuse_code.js" target="_blank">
                                <i class="icon-external-link">
                                </i>
                                Raw
                              </a>
                            </div>
                          </div>
                          <div class="gist-file-spinner">
                          </div>
                        </div>
                        <div class="gist-file-code" style="display: block;">
                                                                              <pre><code><span class="token comment" spellcheck="true">// Use Gists to store code you would like to remember later on</span>
                                              console<span class="token punctuation">.</span><span class="token function">log</span><span class="token punctuation">(</span>window<span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token comment" spellcheck="true">// log the "window" object to the console</span>
                        </code></pre>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="gist-file">
                      <div class="gist-file-header">
                        <div class="gist-file-name" style="width: 461px;">
                          <i class="gist-toggle-icon icon-chevron-down">
                          </i>
                          <i class="icon-file-alt">
                          </i>
                          1_ruby_quicksort.rb
                        </div>
                        <div class="gist-file-controls" style="display: block;">
                          <span class="gist-file-language">
                            Ruby
                          </span>
                          <div class="btn-group">
                            <button class="btn btn-sm copy-gist" data-clipboard-text="# Use Gists to store entire functions
                            class QuickSort
                            def self.sort!(keys)
                            quick(keys,0,keys.size-1)
                            end
                            private
                            def self.quick(keys, left, right)
                            if left < right
                            pivot = partition(keys, left, right)
                            quick(keys, left, pivot-1)
                            quick(keys, pivot+1, right)
                            end
                            keys
                            end
                            def self.partition(keys, left, right)
                            x = keys[right]
                            i = left-1
                            for j in left..right-1
                            if keys[j] <= x
                            i += 1
                            keys[i], keys[j] = keys[j], keys[i]
                            end
                            end
                            keys[i+1], keys[right] = keys[right], keys[i+1]
                            i+1
                            end
                            end">
                            <i class="icon-copy">
                            </i>
                            Copy
                            </button>
                            <a class="btn btn-sm" href="https://gist.githubusercontent.com/hatu87/f125ccab6608b410a74b87d480d0f753/raw/b16d3e65da4810d1bf24fd231028f3775f7dcede/1_ruby_quicksort.rb" target="_blank">
                              <i class="icon-external-link">
                              </i>
                              Raw
                            </a>
                          </div>
                        </div>
                        <div class="gist-file-spinner">
                        </div>
                      </div>
                      <div class="gist-file-code" style="display: block;">
                                                                            <pre><code><span class="token comment" spellcheck="true"># Use Gists to store entire functions
                                            </span><span class="token keyword">class</span> <span class="token class-name">QuickSort</span>
                                              <span class="token keyword">def</span> <span class="token keyword">self</span><span class="token punctuation">.</span>sort<span class="token operator">!</span><span class="token punctuation">(</span>keys<span class="token punctuation">)</span>
                                                <span class="token function">quick</span><span class="token punctuation">(</span>keys<span class="token punctuation">,</span><span class="token number">0</span><span class="token punctuation">,</span>keys<span class="token punctuation">.</span>size<span class="token number">-1</span><span class="token punctuation">)</span>
                                              <span class="token keyword">end</span>
                                              private
                                              <span class="token keyword">def</span> <span class="token keyword">self</span><span class="token punctuation">.</span><span class="token function">quick</span><span class="token punctuation">(</span>keys<span class="token punctuation">,</span> left<span class="token punctuation">,</span> right<span class="token punctuation">)</span>
                                                <span class="token keyword">if</span> left <span class="token operator"><</span> right
                                                  pivot <span class="token operator">=</span> <span class="token function">partition</span><span class="token punctuation">(</span>keys<span class="token punctuation">,</span> left<span class="token punctuation">,</span> right<span class="token punctuation">)</span>
                                                  <span class="token function">quick</span><span class="token punctuation">(</span>keys<span class="token punctuation">,</span> left<span class="token punctuation">,</span> pivot<span class="token number">-1</span><span class="token punctuation">)</span>
                                                  <span class="token function">quick</span><span class="token punctuation">(</span>keys<span class="token punctuation">,</span> pivot<span class="token operator">+</span><span class="token number">1</span><span class="token punctuation">,</span> right<span class="token punctuation">)</span>
                                                <span class="token keyword">end</span>
                                                keys
                                              <span class="token keyword">end</span>
                                              <span class="token keyword">def</span> <span class="token keyword">self</span><span class="token punctuation">.</span><span class="token function">partition</span><span class="token punctuation">(</span>keys<span class="token punctuation">,</span> left<span class="token punctuation">,</span> right<span class="token punctuation">)</span>
                                                x <span class="token operator">=</span> keys<span class="token punctuation">[</span>right<span class="token punctuation">]</span>
                                                i <span class="token operator">=</span> left<span class="token number">-1</span>
                                                <span class="token keyword">for</span> j <span class="token keyword">in</span> left<span class="token punctuation">.</span><span class="token punctuation">.</span>right<span class="token number">-1</span>
                                                  <span class="token keyword">if</span> keys<span class="token punctuation">[</span>j<span class="token punctuation">]</span> <span class="token operator"><=</span> x
                                                    i <span class="token operator">+</span><span class="token operator">=</span> <span class="token number">1</span>
                                                    keys<span class="token punctuation">[</span>i<span class="token punctuation">]</span><span class="token punctuation">,</span> keys<span class="token punctuation">[</span>j<span class="token punctuation">]</span> <span class="token operator">=</span> keys<span class="token punctuation">[</span>j<span class="token punctuation">]</span><span class="token punctuation">,</span> keys<span class="token punctuation">[</span>i<span class="token punctuation">]</span>
                                                  <span class="token keyword">end</span>
                                                <span class="token keyword">end</span>
                                                keys<span class="token punctuation">[</span>i<span class="token operator">+</span><span class="token number">1</span><span class="token punctuation">]</span><span class="token punctuation">,</span> keys<span class="token punctuation">[</span>right<span class="token punctuation">]</span> <span class="token operator">=</span> keys<span class="token punctuation">[</span>right<span class="token punctuation">]</span><span class="token punctuation">,</span> keys<span class="token punctuation">[</span>i<span class="token operator">+</span><span class="token number">1</span><span class="token punctuation">]</span>
                                                i<span class="token operator">+</span><span class="token number">1</span>
                                              <span class="token keyword">end</span>
                          <span class="token keyword">end</span></code></pre>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="gist-file">
                        <div class="gist-file-header">
                          <div class="gist-file-name" style="width: 461px;">
                            <i class="gist-toggle-icon icon-chevron-down">
                            </i>
                            <i class="icon-file-alt">
                            </i>
                            2_keyboard_shortcuts.md
                          </div>
                          <div class="gist-file-controls" style="display: block;">
                            <span class="gist-file-language">
                              Markdown
                            </span>
                            <div class="btn-group">
                              <button class="btn btn-sm copy-gist" data-clipboard-text="Create documentation for your projects. Like so:
                              ---
                              ## Most popular keyboard shortcuts within GistBox
                              - Up/Down - Previous/Next Gist
                              - Ctrl+e - Edit a selected Gist
                              - Ctrl+s - Save Gist
                              ## Save Gists from anywhere with Clipper
                              GistBox Clipper is the companion extension to GistBox, the most beautiful way to organize code snippets. It allows a user to create a GitHub Gist from any page on the web.
                              [Download from the Chrome Web Store](https://chrome.google.com/webstore/detail/gistbox-clipper/cejmhmbmafamjegaebkjhnckhepgmido)">
                              <i class="icon-copy">
                              </i>
                              Copy
                              </button>
                              <a class="btn btn-sm" href="https://gist.githubusercontent.com/hatu87/f125ccab6608b410a74b87d480d0f753/raw/df51b18a3a36024d04f9348bd4e24f6991e41a02/2_keyboard_shortcuts.md" target="_blank">
                                <i class="icon-external-link">
                                </i>
                                Raw
                              </a>
                            </div>
                          </div>
                          <div class="gist-file-spinner">
                          </div>
                        </div>
                        <div class="gist-file-code" style="display: block;">
                          <div class="markdown">
                            <p>
                              Create documentation for your projects. Like so:
                            </p>
                            <hr>
                            <h2>
                            Most popular keyboard shortcuts within GistBox
                            </h2>
                            <ul>
                              <li>
                                Up/Down - Previous/Next Gist
                              </li>
                              <li>
                                Ctrl+e - Edit a selected Gist
                              </li>
                              <li>
                                Ctrl+s - Save Gist
                              </li>
                            </ul>
                            <h2>
                            Save Gists from anywhere with Clipper
                            </h2>
                            <p>
                              GistBox Clipper is the companion extension to GistBox, the most beautiful way to organize code snippets. It allows a user to create a GitHub Gist from any page on the web.
                            </p>
                            <p>
                              <a href="https://chrome.google.com/webstore/detail/gistbox-clipper/cejmhmbmafamjegaebkjhnckhepgmido" target="_blank">
                                Download from the Chrome Web Store
                              </a>
                            </p>
                            </hr>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="gist-file">
                        <div class="gist-file-header">
                          <div class="gist-file-name" style="width: 461px;">
                            <i class="gist-toggle-icon icon-chevron-down">
                            </i>
                            <i class="icon-file-alt">
                            </i>
                            3_cheesecake_recipe.md
                          </div>
                          <div class="gist-file-controls" style="display: block;">
                            <span class="gist-file-language">
                              Markdown
                            </span>
                            <div class="btn-group">
                              <button class="btn btn-sm copy-gist" data-clipboard-text="Use Gists to keep track of any information you'd like to remember later on.
                              ---
                              ## White Chocolate Raspberry Cheesecake
                              From: http://allrecipes.com/Recipe/White-Chocolate-Raspberry-Cheesecake/Detail.aspx
                              ![Raspberry Cheesecake](http://images.media-allrecipes.com/userphotos/250x250/00/08/75/87581.jpg)
                              ### Ingredients
                              - 1 cup chocolate cookie crumbs
                              - 3 tablespoons white sugar
                              - 1/4 cup butter, melted
                              - 1 (10 ounce) package frozen raspberries
                              - 2 tablespoons white sugar
                              - 2 teaspoons cornstarch
                              - 1/2 cup water
                              - 2 cups white chocolate chips
                              - 1/2 cup half-and-half cream
                              - 3 (8 ounce) packages cream cheese, softened
                              - 1/2 cup white sugar
                              - 3 eggs
                              - 1 teaspoon vanilla extract
                              ### Directions
                              1. In a medium bowl, mix together cookie crumbs, 3 tablespoons sugar, and melted butter. Press mixture into the bottom of a 9 inch springform pan.
                              2. In a saucepan, combine raspberries, 2 tablespoons sugar, cornstarch, and water. Bring to boil, and continue boiling 5 minutes, or until sauce is thick. Strain sauce through a mesh strainer to remove seeds.
                              3. Preheat oven to 325 degrees F (165 degrees C). In a metal bowl over a pan of simmering water, melt white chocolate chips with half-and-half, stirring occasionally until smooth.
                              4. In a large bowl, mix together cream cheese and 1/2 cup sugar until smooth. Beat in eggs one at a time. Blend in vanilla and melted white chocolate. Pour half of batter over crust. Spoon 3 tablespoons raspberry sauce over batter. Pour remaining cheesecake batter into pan, and again spoon 3 tablespoons raspberry sauce over the top. Swirl batter with the tip of a knife to create a marbled effect.
                              5. Bake for 55 to 60 minutes, or until filling is set. Cool, cover with plastic wrap, and refrigerate for 8 hours before removing from pan. Serve with remaining raspberry sauce.">
                              <i class="icon-copy">
                              </i>
                              Copy
                              </button>
                              <a class="btn btn-sm" href="https://gist.githubusercontent.com/hatu87/f125ccab6608b410a74b87d480d0f753/raw/f030315106c2b8dc0f52ad861f67223f88d4e35f/3_cheesecake_recipe.md" target="_blank">
                                <i class="icon-external-link">
                                </i>
                                Raw
                              </a>
                            </div>
                          </div>
                          <div class="gist-file-spinner">
                          </div>
                        </div>
                        <div class="gist-file-code" style="display: block;">
                          <div class="markdown">
                            <p>
                              Use Gists to keep track of any information you'd like to remember later on.
                            </p>
                            <hr>
                            <h2>
                            White Chocolate Raspberry Cheesecake
                            </h2>
                            <p>
                              From:
                              <a href="http://allrecipes.com/Recipe/White-Chocolate-Raspberry-Cheesecake/Detail.aspx" target="_blank">
                                http://allrecipes.com/Recipe/White-Chocolate-Raspberry-Cheesecake/Detail.aspx
                              </a>
                            </p>
                            <p>
                              <img alt="Raspberry Cheesecake" src="http://images.media-allrecipes.com/userphotos/250x250/00/08/75/87581.jpg"/>
                            </p>
                            <h3>
                            Ingredients
                            </h3>
                            <ul>
                              <li>
                                1 cup chocolate cookie crumbs
                              </li>
                              <li>
                                3 tablespoons white sugar
                              </li>
                              <li>
                                1/4 cup butter, melted
                              </li>
                              <li>
                                1 (10 ounce) package frozen raspberries
                              </li>
                              <li>
                                2 tablespoons white sugar
                              </li>
                              <li>
                                2 teaspoons cornstarch
                              </li>
                              <li>
                                1/2 cup water
                              </li>
                              <li>
                                2 cups white chocolate chips
                              </li>
                              <li>
                                1/2 cup half-and-half cream
                              </li>
                              <li>
                                3 (8 ounce) packages cream cheese, softened
                              </li>
                              <li>
                                1/2 cup white sugar
                              </li>
                              <li>
                                3 eggs
                              </li>
                              <li>
                                1 teaspoon vanilla extract
                              </li>
                            </ul>
                            <h3>
                            Directions
                            </h3>
                            <ol>
                              <li>
                                <p>
                                  In a medium bowl, mix together cookie crumbs, 3 tablespoons sugar, and melted butter. Press mixture into the bottom of a 9 inch springform pan.
                                </p>
                              </li>
                              <li>
                                <p>
                                  In a saucepan, combine raspberries, 2 tablespoons sugar, cornstarch, and water. Bring to boil, and continue boiling 5 minutes, or until sauce is thick. Strain sauce through a mesh strainer to remove seeds.
                                </p>
                              </li>
                              <li>
                                <p>
                                  Preheat oven to 325 degrees F (165 degrees C). In a metal bowl over a pan of simmering water, melt white chocolate chips with half-and-half, stirring occasionally until smooth.
                                </p>
                              </li>
                              <li>
                                <p>
                                  In a large bowl, mix together cream cheese and 1/2 cup sugar until smooth. Beat in eggs one at a time. Blend in vanilla and melted white chocolate. Pour half of batter over crust. Spoon 3 tablespoons raspberry sauce over batter. Pour remaining cheesecake batter into pan, and again spoon 3 tablespoons raspberry sauce over the top. Swirl batter with the tip of a knife to create a marbled effect.
                                </p>
                              </li>
                              <li>
                                <p>
                                  Bake for 55 to 60 minutes, or until filling is set. Cool, cover with plastic wrap, and refrigerate for 8 hours before removing from pan. Serve with remaining raspberry sauce.
                                </p>
                              </li>
                            </ol>
                            </hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-sm add-another-file">
                  <i class="icon-plus">
                  </i>
                  Add Another File
                  </button>
                  <div class="focus-view-files-spinner">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
